* {
  padding: 0;
  margin: 0;
}

body {
  background-color: lightblue;
  height: 100vh;
}

form {
  height: 100%;
  width: 100%;
}

input {
  height: 25px;
  width: 100%;
  border: none;
  background-image: none;
}

input:focus {
  outline: none;
}

.body-content {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.left-panel {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100%;
  width: 70%;
}

.left-panel-content {
  height: 100%;
  width: 100%;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form-item {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-bottom: 30px;
}

.form-item-label {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.form-item-field {
  width: 60%;
  padding-left: 15px;
}

.form-item-content-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.form-item-button {
  width: 30%;
}

.form-item-method-input-content {
  height: 30px;
  min-width: 80px;
  margin-right: 5px;
}

.form-item-method-input-content-radio {
  height: 100%;
  width: 100%;
}

.form-item-method-input-content-text {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  top: -100%;
  pointer-events: none;
}

.form-item-method-input-content-radio > input[type="radio"] {
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
  background-color: lightgrey;
  position: relative;
}

.form-item-method-input-content-radio > input[type=radio]:checked {
  display: inline-block;
  background-color: lightgreen;
}

.right-panel {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 30%;
  border-left: 1px solid black;
}

.right-panel-content {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.right-panel-content-item {
  display: flex;
  min-height: 50px;
  width: 97%;
  padding: 5px 0px 5px 5px;
  margin: 5px 1% 0 1%;
  background-color: white;
  border-radius: 10px;
}

.right-panel-content-item-method {
  display: flex;
  justify-content: space-around;
  /*flex-direction: column;*/
  align-items: center;
  height: 100%;
  width: 20%;
  background-color: lightgreen;
  border-radius: 10px 0 0 10px;
}

.right-panel-content-item-method-content {
  /*height: 100%;*/
  /*color: green;*/
  font-weight: bold;
}

.right-panel-content-item-url {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  height: 100%;
  width: 79%;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.right-panel-content-item-url:hover {
  background-color: lightgrey;
}

.right-panel-content-item-url-content {
  margin-left: 10px;
  width: 100%;
}